/* Globals */
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
:root {
  --color-sliders: rgba(46, 45, 48, 0.493);
}

/* NavBar */

.nav {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.nav .logo {
  background-color: rgb(34, 33, 33);
  float: left;
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .logo .logo--logo {
  color: brown;
}
.nav .container__nav {
  background-color: rgb(34, 33, 33);
  float: right;
  display: flex;
  width: 80%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.nav .container__nav .items {
  text-decoration: none;
  text-transform: uppercase;
  color: brown;
  height: 100%;
  display: flex;
  align-items: center;
}

/* MAIN */

.main {
  width: 100%;
  background-color: rgb(49, 48, 48);
  height: 110%;
}

/* Container 1 */

.main .container1 {
  height: 90vh;
}
.main .container1 .banner {
  height: 100%;
  width: 97%;
  margin: auto auto;
  display: flex;
  padding-top: 1rem;
}
.main .container1 .banner .bannerItem1 {
  background-image: url("../media/campeon.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 20%;
}
.main .container1 .banner .bannerItem1 .slider1 {
  height: 100%;
  width: 100%;
  background-color: var(--color-sliders);
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  flex-direction: column;
}
.main .container1 .banner .bannerItem1 .slider1 p {
  font-size: 1.1rem;
}
.main .container1 .banner .bannerItem2 .slider2 {
  height: 100%;
  width: 100%;
  background-color: var(--color-sliders);
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  flex-direction: column;
}
.main .container1 .banner .bannerItem2 .slider2 p {
  font-size: 1.1rem;
}
.main .container1 .banner .bannerItem3 .slider3 {
  height: 100%;
  width: 100%;
  background-color: var(--color-sliders);
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  flex-direction: column;
}
.main .container1 .banner .bannerItem3 .slider3 p {
  font-size: 1.1rem;
}
.main .container1 .banner .bannerItem2 {
  background-image: url("../media/csgo.jpeg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 20%;
}
.main .container1 .banner .bannerItem3 {
  background-image: url("../media/warframe.webp");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 20%;
}
.main .container1 .banner .bannerItem4 {
  background-color: brown;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .container1 .banner .bannerItem4 p {
  display: flex;
  width: 98%;
  height: 98%;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  border: 4px solid #000;
  border-radius: 6px;
  margin: 0.1rem;
  background-color: rgb(77, 19, 19);
  color: aliceblue;
  font-size: 2rem;
}

/* Container 2 */

.main .container2 {
  width: 95%;
  min-height: 150px;
  background-color: brown;
  border-radius: 10px;
  margin: 2rem auto;
  padding: 0.5rem 0cm;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(77, 19, 19);
  border: 3px solid #000;
  border-radius: 6px;
  color: aliceblue;
}
.main .container2 .boxInfo {
  width: 95%;
  background-color: rgb(62, 62, 62);
  margin: 1rem auto;
  height: 4.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .container2 .boxInfo .boxEstilo {
  color: bisque;
  display: inline-block;
}

/* Container 3 */

.main .container3 {
  max-width: 95%;
  background-color: brown;
  border-radius: 10px;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main .container3 .tarj {
  width: 18%;
  background-color: rgb(77, 19, 19);
  border: 6px solid #000;
  border-radius: 10px;
  margin: 1rem;
}
.main .container3 .tarj img {
  max-height: 300px;
}
.main .container3 .tarj .tarj__body {
  padding: 0.8rem;
  color: aliceblue;
}
.main .container3 .tarj .tarj__body h4 {
  border-top: 3px solid #000;
}
.main .container3 .tarj .tarj__body button {
  background-color: cornflowerblue;
  border-radius: 5px;
  height: 1.8rem;
}
/* Container 3-2 */

.main .container3-2 {
  max-width: 95%;
  background-color: brown;
  border-radius: 10px;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .container3-2 .cart {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}
.main .container3-2 .cart .productoDelCarrito {
  display: flex;
  width: 100%;
  height: 10rem;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  border: 6px solid #000;
  border-radius: 6px;
  margin: 0.1rem;
  background-color: rgb(77, 19, 19);
  color: aliceblue;
}
.main .container3-2 .cart .productoDelCarrito .imgCarrito {
  max-height: 200px;
  object-fit: cover;
}
.main .container3-2 .cart .productoDelCarrito .infoCarrito {
  min-width: 186px;
}
.main .container3-2 .cart .productoDelCarrito .btnCarrito {
  border-radius: 5px;
  height: 1.8rem;
  background-color: crimson;
}
.main .container3-2 .cart .carrito__total {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}
.main .container3-2 .cart .carrito__total button {
  margin-left: 5rem;
  border-radius: 5px;
  height: 1.8rem;
  background-color: greenyellow;
}
.main .container3-2 #cart.cart {
  display: flex;
  justify-content: center;
}
.main .container3-2 .cart .formularioCompra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(77, 19, 19);
  border: 3px solid #000;
  border-radius: 6px;
  width: 40%;
  margin: auto;
  color: aliceblue;
}
.main .container3-2 .cart .formularioCompra .formContainer__compra {
  padding: 1rem;
}
.main
  .container3-2
  .cart
  .formularioCompra
  .formContainer__compra
  .formContainer__item {
  margin: 1rem;
}
.main
  .container3-2
  .cart
  .formularioCompra
  .formContainer__compra
  .formContainer__btn {
  float: right;
  border-radius: 5px;
  height: 1.8rem;
  background-color: grey;
}
.main .container3-2 .cart .textoFinal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(77, 19, 19);
  border: 3px solid #000;
  border-radius: 6px;
  width: 40%;
  margin: auto;
  min-height: 252px;
  color: aliceblue;
}
/* Container 4 */

.main .container4 {
  width: 95%;
  background-color: brown;
  border-radius: 10px;
  margin: auto;
  min-height: 600.2px;
}
.main .container1 .texto__banner {
  color: brown;
}
.main .container4 .boxInfo {
  width: 95%;
  background-color: rgb(62, 62, 62);
  margin: 1rem auto;
  padding-top: 1rem;
  height: 4.5rem;
  color: aliceblue;
}
.main .container4 .boxInfo .boxPosicion {
  display: flex;
  width: 20%;
  height: 100%;
  margin: auto auto;
  float: left;
  align-items: center;
  justify-content: center;
}
.main .container4 .boxInfo .boxEstilo {
  color: bisque;
  display: flex;
  width: 80%;
  height: 100%;
  align-items: center;
}
