/* Globals */

* {
  margin: 0;
  box-sizing: border-box;
}

/* NavBar */

.nav {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.nav .logo {
  background-color: rgb(34, 33, 33);
  float: left;
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .logo .logo--logo {
  color: brown;
}
.nav .container__nav {
  background-color: rgb(34, 33, 33);
  float: right;
  display: flex;
  width: 80%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.nav .container__nav .items {
  text-decoration: none;
  color: inherit;
  box-shadow: blue;
  text-transform: uppercase;
  color: brown;
}

/* MAIN */

.main {
  width: 100%;
  background-color: rgb(49, 48, 48);
  height: 110%;
}

/* Container 1 */

.main .container1 {
  height: 90vh;
}
.main .container1 .banner {
  height: 100%;
  width: 97%;
  margin: auto auto;
  display: flex;
  padding-top: 1rem;
}
.main .container1 .banner .bannerItem1 {
  background-image: url("../media/campeon.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 20%;
}
.main .container1 .banner .bannerItem2 {
  background-image: url("../media/csgo.jpeg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 20%;
}
.main .container1 .banner .bannerItem3 {
  background-image: url("../media/warframe.webp");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 20%;
}
.main .container1 .banner .bannerItem4 {
  background-color: brown;
  height: 100%;
  width: 40%;
}

/* Container 2 */

.main .container2 {
  width: 95%;
  background-color: brown;
  border-radius: 10px;
  margin: 2rem auto;
  padding: 0.5rem 0cm;
}
.main .container2 .inputs {
  display: flex;
  justify-content: space-evenly;
}
.main .container2 .boxInfo {
  width: 95%;
  background-color: rgb(62, 62, 62);
  margin: 1rem auto;
  height: 4.5rem;
}
.main .container2 .boxInfo .boxEstilo {
  color: bisque;
  display: inline-block;
}

/* Container 3 */

.main .container3 {
  width: 95%;
  background-color: brown;
  border-radius: 10px;
  margin: 2rem auto;
}

/* Container 4 */

.main .container4 {
  width: 95%;
  background-color: brown;
  border-radius: 10px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.main .container1 .texto__banner {
  color: brown;
}
.main .container4 .boxInfo {
  width: 95%;
  background-color: rgb(62, 62, 62);
  margin: 1rem auto;
  height: 4.5rem;
}
.main .container4 .boxInfo .boxPosicion {
  display: flex;
  width: 20%;
  height: 100%;
  margin: auto auto;
  float: left;
  align-items: center;
  justify-content: center;
}
.main .container4 .boxInfo .boxEstilo {
  color: bisque;
  display: flex;
  width: 80%;
  height: 100%;
  align-items: center;
}
